<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>TECH_SKILL</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>home.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>url</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>dbuser</param-name>
		<param-value>jdbc:mysql://localhost:3306/teckskill</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>root</param-value>
	</context-param>
	<filter>
		<filter-name>FC</filter-name>
		<filter-class>techskill.ContactFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FC</filter-name>
		<url-pattern>/mes</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>LF</filter-name>
		<filter-class>techskill.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LF</filter-name>
		<url-pattern>/log</url-pattern>
	</filter-mapping>



	<servlet>
		<servlet-name>A</servlet-name>
		<servlet-class>techskill.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>A</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>B</servlet-name>
		<servlet-class>techskill.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>B</servlet-name>
		<url-pattern>/reg</url-pattern>
	</servlet-mapping>
	<servlet>


		<servlet-name>C</servlet-name>
		<servlet-class>techskill.Message</servlet-class>
	</servlet>
	<servlet-mapping>

		<servlet-name>C</servlet-name>
		<url-pattern>/mes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UD</servlet-name>
		<servlet-class>techskill.UpdateandDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UD</servlet-name>
		<url-pattern>/updel</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/ErrorPage.jsp</location>
	</error-page>
</web-app>